*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    user-select: none;

}


.wrapper{
    width: 100%;
    height: 961px;
    background: linear-gradient( rgba(174, 235, 223, 0.675) , rgba(0, 249, 128, 0.596));
    background-size: cover;
    overflow: auto;
}
@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
.calck{
    width: 300px;
    height: 550px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
    overflow: auto;
}
.area{
    width: 90%;
    height: 70px;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 100px;
    
}
.area input{
    width: 100%;
    height: 100%;
    display: inline-block;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 50px;
    letter-spacing: 2px;
}
::placeholder{
    color: white;
    text-align: right;
}
.group{
    /* border: 1px solid white; */
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 15px;
}
.group button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    outline: none;
    border: none;
    margin-left: 11px;
    background-color: rgb(67, 67, 67, 0.992);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}
.group button:active{
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.647) !important;
}
.group button:hover{
    background-color: rgb(67, 67, 67, 0.653);
}
.zero{
    width: 115px !important;
    border-radius: 30px !important;
    text-align: left;
    padding-left: 15px;
}
.one:hover{
    background-color: rgba(176, 175, 175, 0.585) !important ;

}
.one{
    background-color: rgba(176, 175, 175, 0.992) !important ;
    color: black !important;
}
.two{
    background-color: rgb(255, 171, 15) !important;
}
.two:hover{
    background-color: rgba(255, 166, 0, 0.571) !important;

}